
/*TRAER TIPOGRAFIAS*/
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Jura:wght@300..700&family=Nata+Sans:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Jura:wght@300..700&family=Nata+Sans:wght@100..900&display=swap');

:root{  
    /*
        mas: FAE3AC
        menos: 01344F
        detalle: D12128
        fondo:#1a1a1a
        fonde detalle:#88b0b4
    */
    --background-color: #1a1a1a;
    --details:#88b0b4;
    --primary-color: #FAE3AC;
    --secundary-color: #01344F;
    --detail-color:#D12128;
    --fuente-game: "Bitcount Grid Double", system-ui;
    --fuente-elegante: "Jura", sans-serif;
}


h2{
    color: #01344F;
    margin: 45px;
    padding: 15px;
    font-size: 3em;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.6px);
    -webkit-backdrop-filter: blur(12.6px);
    border: 1px solid rgba(255, 255, 255, 0.28);

}

h1{
    color: #01344F;
    margin: 25px;
    padding: 15px;
    font-size: 6em;

    background-clip:padding-box;
    
    /* From https://css.glass */
    background: rgba(239, 204, 143, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border: 1px solid rgba(239, 204, 143, 0.3);
    transition: color 2s ease-in;

}

body{
    background-color: var(--background-color);

}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 35px;
}

.data-section{
    display: flex;
    flex-direction: column;
    position:initial;
    align-items: center;
    font-family: var(--fuente-game);
    font-size: x-large;
    font-weight: 100;

    background-image: url(/assets/background.png);
    border: 5px;
    border-radius: 10px;
    margin: 25px;

      background-repeat:repeat-x; /* Or no-repeat, depending on your needs */
      animation-name: moveBackground;
      animation-duration: 25s; /* How long the animation takes */
      animation-timing-function: linear; /* Speed curve of the animation */
      animation-iteration-count: infinite; /* How many times the animation repeats (infinite for continuous) */
      animation-direction:initial; 
}
    @keyframes moveBackground {
    
      from {
        background-position: 0% 0%; 
      }
      to {
        background-position: 1489px 0%; 
      }
    
    }

.main-game{
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    border-width: 5px;
    border-color: var(--primary-color);

        width: 40%;

}

.info-text{
    font-family:var(--fuente-elegante);
    font-size: xx-large;
    color:var(--primary-color);
    border-style: dashed;
    padding: 10px;
}

.select-figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-game{
    background-color:var(--detail-color);
    color: var(--details);
    border-radius: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    padding: 13px;
    margin: 15px;
}
.button-frame:hover{
    padding: 5px;
    border-radius: 15px;
    box-shadow: inset 0 0 0 20px var(--background-color); /* Colored "padding" */

}

.button-game:hover{
    background-color: var(--primary-color);
}

.select-option{
    border-radius: 10px;
    border-style: double;
    border-color: var(--primary-color);
    background-color: var(--background-color);

}

.select-option:hover{
    padding: 15px;
    background-color: #88b0b4;
}

.result-game{
    border-color: var(--detail-color);
    border-style: groove;
    background-color: var(--secundary-color);
    width: 50%;
    padding: 15px;
}

.result-play{
    border-style: ridge;
    border-radius: 15px;
    border-color: var(--primary-color);

    padding: 25px;
    display: flex;
    justify-content:space-around;
}

.result-text{
    font-family: var(--fuente-game);
    font-size: 2em;
    color: var(--primary-color);

    border-style: dotted;
    border-width: 15px;
    padding: 15px;
    border-color: var(--details);
}